.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 50%;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

.mat-select > * {
  padding: 30px;
}

.mat-radio-button {
  padding: 10px
}
